@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: sticky;
    display: flex;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.822);
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 1.25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    align-items:center;
}

.logo > button{
    background-color: #ff9c08;
    border-width: 0px;
    padding-top: 0.35rem;
    padding-bottom: 0.15rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 9999px;
    cursor: pointer;
    margin-right: 0.8rem;
}
.logo>button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
}

.nava{
    color:#fff;
    text-decoration: none;
}

.logo:hover{
    background-color: #4158D0;
    background-image: radial-gradient(circle, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100%{
        background-position: 400%;
    }
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 29px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #817e7e;
    font-family: montserrat;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: rgb(255, 255, 255);
}



nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

* {
    box-sizing: border-box;
}

body {
    background: #353535;
    color: #c4c4c4;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 1500px) {
    .logo {
        margin-bottom: 5em;
    }
}


@media (min-width: 1500px) {
    .nav-item {
        display: block;
        margin: 7vh 0;
    }
}

.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
    z-index: -1;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background: #f96855;
    color: #c4c4c4;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}

.two {
    background-image: url(//unsplash.it/800/600);
}

.two::before {
    content: "";
    display: block;
    background: #353535;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
}

.two:hover::before {
    opacity: 0.2;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 30px 0 20px;
    }
}

@media (max-width: 750px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav{
        position: sticky;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(0, 0, 0, 0.897);
        overflow: scroll ;
        height: 87rem;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: -1;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }

}


