@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: sticky;
    display: flex;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.822);
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 1.25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    align-items:center;
}

.logo > button{
    background-color: #ff9c08;
    border-width: 0px;
    padding-top: 0.35rem;
    padding-bottom: 0.15rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 9999px;
    cursor: pointer;
    margin-right: 0.8rem;
}
.logo>button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
}

.nava{
    color:#fff;
    text-decoration: none;
}

.logo:hover{
    background-color: #4158D0;
    background-image: radial-gradient(circle, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100%{
        background-position: 400%;
    }
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 29px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #817e7e;
    font-family: montserrat;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: rgb(255, 255, 255);
}



nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

section{
    padding: 50px;
}

.box-main{
    background-color: #fff;
    display: flex;
    border: 5px solid white;
    width: 100%;
    height: 43rem;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.box-1{
    background: url(8.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 25rem;
    width: 25rem;
}
.box-2 {
    background: url(1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 18rem;
    width: 25rem;
    position: absolute;
    bottom: 0;
}
.box-3 {
    background: url(2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    width: 17rem;
}
.box-4 {
    background: url(3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 25rem;
    width: 35.98rem;
}
.box-5 {
    background: url(4.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 18rem;
    width: 18rem;
    position: absolute;
    bottom: 0;
    left: 40.81%;
}
.box-6 {
    background: url(5.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 18rem;
    width: 18rem;
    position: absolute;
    bottom: 0;
    left: 58.3%;
}
.box-7 {
    background: url(6.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 12rem;
    width: 24.87rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
.box-8 {
    background: url(7.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid black;
    height: 50rem;
    width: 24.87rem;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 30px 0 20px;
    }
}

@media (max-width: 750px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav{
        position: sticky;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(0, 0, 0, 0.897);
        overflow: scroll ;
        height: 87rem;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: -1;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }

    .box-1 {
        background-color: rgb(255, 0, 64);
        height: 11rem;
        width: 11rem;
    }

    .box-2 {
        background-color: green;
        height: 15rem;
        width: 12.5rem;
        position: absolute;
        bottom: 9rem;
    }

    .box-3 {
        background-color: yellow;
        height: 11rem;
        width: 9rem;
    }

    .box-4 {
        background-color: pink;
        height: 8rem;
        width: 20rem;
        position: absolute;
        top: 11rem;
    }

    .box-5 {
        background-color: orange;
        height: 5rem;
        width: 9rem;
        position: absolute;
        bottom: 14rem;
        left: 12.2rem;
    }

    .box-6 {
        background-color: blue;
        height: 5rem;
        width: 9rem;
        position: absolute;
        bottom: 19rem;
        left: 12.2rem;
    }

    .box-7 {
        background-color: rgb(162, 0, 255);
        height: 5rem;
        width: 9rem;
        position: absolute;
        bottom: 9rem;
        left: 12.2rem;
    }

    .box-8 {
        background-color: gray;
        height: 9rem;
        width: 20rem;
        position: absolute;
        bottom: 0;
    }
}


