@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000000;
    display: flex;
    flex-wrap: wrap;
}

nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.822);
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    flex-wrap: wrap;
}

nav .logo {
    font-size: clamp(0.9rem, 5vw, 1.25rem);
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    align-items:center;
}

.title{
    letter-spacing: 3px;
}

.logo > button{
    background-color: #ff9c08;
    border-width: 0px;
    padding-top: 0.40rem;
    padding-bottom: 0.15rem;
    padding-right: 0.46rem;
    padding-left: 0.46rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 9999px;
    cursor: pointer;
    margin-right: 0.8rem;
}
.logo>button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
}

.nava{
    color:#fff;
    text-decoration: none;
}

.title:hover{
    background-color: #4158D0;
    background-image: radial-gradient(circle, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}


@keyframes animate {
    100%{
        background-position: 400%;
    }
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 29px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #817e7e;
    font-family: montserrat;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: rgb(255, 255, 255);
}



nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");



.box-outer {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
    z-index: -1;
    margin-top: 50px;
}

.box-inner-1 {
    margin-top: -60px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.box-inner-2 {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


.b-1{
    border: 8px solid white;
    background: url(//unsplash.it/300/600/?photography);
    background-size: cover;
    grid-row: span 3;
    grid-column: span 1;
}
.b-2 {
    border: 8px solid white;
    background: url(//unsplash.it/300/400/?fruits);
    background-size: cover;
    grid-row: span 2;
    grid-column: span 1;
}
.b-3 {
    border: 8px solid white;
    background: url(//unsplash.it/600/400/?natue);
    background-size: cover;
    grid-row: span 2;
    grid-column: span 2;
}
.b-4 {
    border: 8px solid white;
    background: url(//unsplash.it/600/200/?trees);
    background-size: cover;
    grid-row: span 1;
    grid-column: span 2;
}
.b-5 {
    border: 8px solid white;
    background: url(//unsplash.it/300/200/?animal);
    background-size: cover;
}
.b-6 {
    border: 8px solid white;
    background: url(//unsplash.it/600/400/?photography);
    background-size: cover;
    grid-row: span 2;
    grid-column: span 2;
}

.b-7 {
    border: 8px solid white;
    background: url(//unsplash.it/300/400/?fruits);
    background-size: cover;
    grid-row: span 2;
    grid-column: span 1;
}

.b-8 {
    border: 8px solid white;
    background: url(//unsplash.it/300/600/?natue);
    background-size: cover;
    grid-row: span 3;
    grid-column: span 1;
}

.b-9 {
    border: 8px solid white;
    background: url(//unsplash.it/600/200/?trees);
    background-size: cover;
    grid-row: span 1;
    grid-column: span 2;
}

.b-10 {
    border: 8px solid white;
    background: url(//unsplash.it/300/200/?animal);
    background-size: cover;
}

@media (max-width: 875px) {

    /* nav .logo {
        font-size: 1.1rem;
    } */

    .box-inner-1 {
        margin-top: 30px;
        display: grid;
        height: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .box-inner-2 {
        margin-top: -230px;
        display: grid;
        height: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .b-1 {
        border: 8px solid white;
        background: url(//unsplash.it/180/160/?photography);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1 ;
        grid-column: span 1;
    }

    .b-2 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?fruits);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-3 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?natue);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-4 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?fire);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-5 {
        display: none;
    }

    .b-6 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?photography);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-7 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?fruits);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-8 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?natue);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-9 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?village);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 1;
    }

    .b-10 {
        display: none;
    }

}



@media (max-width: 1000px) {
    nav {
        padding: 0 30px 0 20px;
    }
}

@media (max-width: 450px) {

    /* nav .logo {
        font-size: 0.9rem;
    } */

    .main-content{
        margin-top: 90px;
    }
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav{
        position: fixed;
        margin-bottom: 90px;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(0, 0, 0, 0.897);
        overflow: scroll ;
        height: 87rem;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: -1;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }

    .box-inner-1 {
        margin-top: 30px;
        display: grid;
        height: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .box-inner-2 {
        margin-top: -40px;
        display: grid;
        height: 100%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }


    .b-1 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?photography);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-2 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?fruits);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-3 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?natue);
        background-size: cover;
        background-repeat: no-repeat;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-4 {
        visibility: hidden;
    }

    .b-5 {
        visibility: hidden;
    }
    .b-6 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?photography);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-7 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?fruits);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-8 {
        border: 8px solid white;
        background: url(//unsplash.it/400/400/?natue);
        background-size: cover;
        grid-row: span 1;
        grid-column: span 3;
    }

    .b-9 {
        visibility: hidden;
    }
    .b-10 {
        visibility: hidden;
    }


}




